altair
arch
flask
keras
matplotlib
numpy
pandas
praw
prophet
pytrends
python-dotenv
PyYAML
quandl
requests
schedule
scikit-learn
scipy
seaborn
shap
statsmodels
streamlit
textblob
tqdm
umap-learn
xgboost
xlsxwriter
yfinance
